/** {
	border: 2px solid black;
}*/

p {
	font-size: 1.25em;
	font-family: "Share Tech Mono", "Menlo", fixed;
}

a {
	font-size: 1em;
	color: #ec5e50;
	font-family: "Share Tech Mono", "Menlo", fixed;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2em;
	font-family: 'Fenix', serif;
}

h2 {
	font-size: 1.5em;
	font-family: 'Fenix', serif;
	border-bottom: 2px solid black;
	margin-bottom: 30px;
}

#nav-bar {
	width: 100%;
	height: 60px;
	top: 0;
	padding: 20px 20px 20px 20px;
	background-color: #ec5e50;
	position: fixed;
}

#nav-bar h1 {
	color: white;
	font-size: 2.5em;
	margin: 20px 0 0 2%;
	float: left;
}

ul.nav-menu {
	list-style: none;
	margin: 35px 2% 0 0;
	float: right;
	display: inline;
}

ul.nav-menu li {
	float: left;
	margin-right: 40px;
}

ul.nav-menu li a {
	font-size: 1.25em;
	color: white;
}


#center-box {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 180px;
}


#intro-img {
	height: 45%;
	width: 	45%;
	border-radius: 100%;
	float: left;
	display: block-inline;
}

#intro-text {
	height: 45%;
	width: 45%;
	margin-left: 10px;
	float: right;
	display: block-inline;
}

.review-img {
	width: 100%;
	margin-bottom: 
}

#schema {
	margin-right: auto;
	margin-left: auto;
	width: 20%;
	display: block;
	margin-top: 20px;
	margin-bottom: 30px;
	border: 2px solid black;
}