#container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 180px;
	margin-bottom: 60px;
	width: 800px;
}

p {
	font-size: 1.25em;
	font-family: "Share Tech Mono", "Menlo", fixed;
}

a {
	color: #ec5e50;
	font-size: 1em;
	font-family: "Share Tech Mono", "Menlo", fixed;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2em;
	font-family: 'Fenix', serif;
}

h2 {
	border-bottom: 2px solid black;
	font-size: 1.5em;
	font-family: 'Fenix', serif;
	margin-bottom: 30px;
}

#nav-bar {
	background-color: #ec5e50;
	height: 60px;
	padding: 20px 20px 20px 20px;
	position: fixed;
	top: 0;
	width: 100%;
}

#nav-bar h1 {
	color: white;
	float: left;
	font-size: 2.5em;
	margin: 10px 0 0 2%;
}

ul.nav-menu {
	display: inline;
	float: right;
	list-style: none;
	margin: 25px 2% 0 0;
}

ul.nav-menu li {
	float: left;
	margin-right: 40px;
}

ul.nav-menu li a {
	color: white;
	font-size: 1.25em;
}


.subsection {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
	width: 100%;
}


#intro-img {
	border-radius: 100%;
	display: block-inline;
	float: left;
	max-width: 400px;
	width: 45%;
}

#intro-text {
	display: block-inline;
	float: right;
	margin-left: 10px;
	width: 45%;
}

.review-img {
	width: 100%;
}

#schema {
	border: 2px solid black;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	min-width: 150px;
	width: 20%;
}

#macronutrients {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	min-width: 300px;
	width: 80%;
}


/*-----MEDIA QUERIES-----*/

/* Medium resolution */
@media screen and (max-width: 900px) {

	#container {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 140px;
		width: 80%;
	}

	#nav-bar {
		height: 40px;
	}

	#nav-bar h1 {
		display: none;
	}

	ul.nav-menu {
		display: block;
		float: none;
		margin: 10px auto 0 auto;
		width: 500px;
	}

	ul.nav-menu li {
		float: left;
		margin-right: 30px;
		text-align: center;
	}

	#intro-img {
		display: block;
		float: none;
		margin-right: auto;
		margin-left: auto;
		margin-top: -5%;
		min-width: 0;
		max-width: 400px;
		width: 80%;
	}

	#intro-text {		
		display: block;
		width: 100%;
	}

}

/* Small resolution */
@media screen and (max-width: 530px) {

	ul.nav-menu {
		display: block;
		width: 300px;
		margin-top: -8px;
	}

	ul.nav-menu li {
		margin-left: 10px;
		margin-bottom: 10px;
	}

	#intro-img {
		margin-top: -10%;
	}

}

