---
title: John Olmsted - Projects
---

<div class="subsection">
  <h2>Life</h2>

  <p><a href="https://github.com/qsymmachus/life">life repo</a><p>
  <p><a href="https://olmsted.io/life">https://olmsted.io/life</a><p>

  <p>I wrote an implementation of <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's Game of Life</a> using React and Redux.

  <p>When developing this, I tried to clearly separate the domain of the game of life (which is written in ordinary Javascript) from the view and state management layers (which are written using React and Redux Zero respectively).</p>
</div>

<div class="subsection">
  <h2>okscraper</h2>

  <p><a href="https://github.com/qsymmachus/okscraper">okscraper repo</a><p>

  <p class="hint">Heads up! I don't maintain this anymore. No guarantee that it still works.</p>

  <p>I wrote some handy tools for scraping OkCupid using Node. 'uscraper' scrapes OkCupid usernames and dumps them in a file. 'okscraper' reads a file of usernames, scrapes their profile essays, and dumps them in another file.</p>

  <p>Why did I build these tools? My ultimate goal is an algorithm that determines how unoriginal your OkCupid profile is. This will probably rely on some version of the <a href="http://en.wikipedia.org/wiki/Rabin%E2%80%93Karp_algorithm">Rabin-Karp</a> string searching algorithm, which requires a set of patterns. Since OkCupid doesn't provide an API, I've got to scrape 'em.</p>

</div>

<div class="subsection">
  <h2>Is it green?</h2>

  <p><a href="http://acgreenbusinesses.herokuapp.com">Green Businesses on heroku</a></p>
  <p><a href="https://github.com/qsymmachus/green-businesses">Green Businesses repo</a></p>

   <p class="hint">Heads up! I don't maintain this anymore. No guarantee that it still works.</p>

  <p>Alameda county certifies local businesses that conserve energy and water, minimize waste, and reduce their carbon footprints. Unless businesses advertise their "green certified" status however, there is no easy way to identify certified businesses.</p>

  <p>A few apps have already been made to address this problem. Jon Wu's <a href="http://www.jonwu.me/greenbyme.html">"Green by me"</a> maps green businesses near a user organized by sector. Alameda county has an <a href="http://acgov.org/mobile/services/greenbiz/">official app</a> that allows users to search green businesses by city and sector. </p>

  <img class="screenshot" src="images/green_business.png">

  <p>I thought that these apps, while useful, lacked a core feature: the ability to search for green certified businesses by name. This app implements that feature within an appealing front-end interface. </p>
</div>

<div class="subsection">
  <h2>BAC Monkey</h2>

  <p><a href="http://www.bacmonkey.com">www.bacmonkey.com</a></p>
  <p><a href="https://github.com/sea-lions-2014/bac-monkey">BAC Monkey repo</a></p>

   <p class="hint">Heads up! I don't maintain this anymore. No guarantee that it still works.</p>

  <p>BAC Monkey is a personal tracker for alcohol, caffeine, and nicotine. Users can enter the number of drinks they consumed and see their estimated Blood Alcohol Content (BAC %) graphed over time. Caffeine and Nicotine dosage is graphed in milligrams.</p>

  <img class="screenshot" src="images/bac_monkey_graph.png">

  <p>If a user creates an account with BAC monkey, he or she can begin tracking her long term habits. A user's profile page provides their average daily consumption, how they compare to other users, and information on the maximum intake doctors recommend.</p>

  <img class="screenshot" src="images/bac_monkey_profile.png">

  <p>I developed BAC Monkey in Rails along with Patrick Vilhena, Darcey Lachtman, and David Goodman. I was team lead and my particular contribution was the development of the models required to generate the graphs.

  <p>The classes AlcoholCalc, CaffeineCalc, and NicotineCalc all contain their own formulae for estimating dosage based on the elimination half-life of each substance; caffeine, for example, has an elimination rate of 9% per hour. These classes inherit from a superclass SubstanceCalc which generates a nested array of data points where 'x' is the time measured in 15 minute intervals and 'y' is the calculated dosage. This array is then passed to the front end where it is rendered as a graph using the D3.js library.</p>
</div>

<div class="subsection">
  <h2>Macronutrient search</h2>

  <p><a href="http://macronutrients.herokuapp.com">Macronutrients on heroku</a></p>
  <p><a href="https://github.com/qsymmachus/macronutrients">Macronutrients repo</a></p>

  <p class="hint">Heads up! I don't maintain this anymore. No guarantee that it still works.</p>

  <p>I like to keep track of what I eat, but I hate most online nutrition apps. They're filled with ads and usually give me way more information than I actually need. So I decided to make my own.</p>

  <img class="screenshot" src="images/macronutrients.png"/>

  <p>Macronutrient search does what it advertises: it returns the macronutrients of a food only. Food "macros" include calorie count, carbohydrates, fat, and protein. You know, the things you actually pay attention to on a nutrition label. </p>

  <p>It's powered by the <a href="http://platform.fatsecret.com/api/">FatSecret API</a> which provides a solid nutritional database. <a href="http://ibrahimmuhammad.com/">Ibrahim Muhammad</a> wrote a nice ruby gem for the API. The app is optimized with database caching; the results of each user query are written to a database by a background job to avoid repeat API requests. Note that background jobs are disabled in the heroku deployed version of the app.

  <p>Roy Lee, Patrick Vilhena, and Eli Shkurkin recently helped me redesign the frontend with the D3.js library. The macronutrients for each result are now visualized in a radar graph.</p>
</div>

<div class="subsection">
  <h2>Cluny preambles database</h2>

  <p><a href="https://github.com/qsymmachus/cluny_database">Cluny database repo</a><p>
  <p><a href="files/arenga_types.txt" font-size: 1.25em>arenga_types.txt</a><p>

  <p>In my free time I maintain a SQLite database of preambles (also known as "arengae") from the Cartularies of <a href="http://en.wikipedia.org/wiki/Cluny_Abbey">Cluny</a>, 987 to 997.

  <p>Historians are interested in preambles because they are highly rhetorical, and therefore offer us a window into the ideology advanced by a monastery. The database has one table with the following schema:</p>

  <img id="schema" src="images/schema.png"/>

  <p>charter_num refers to the categorization of charters found in Bernard & Bruel, "Recueil des chartes de l'abbaye de Cluny", Paris 1876-1903.
  <p>This database is free for anyone to play around with, if medieval history is your thing. "arenga_types.txt" is a guide to the arenga categories found in the database.</p><br><br><br>
</div>
