@charset "utf-8";

#container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	width: 800px;
	font-family: monospace;
}

p {
	font-size: 1.25em;
	font-family: monospace;
}

a {
	color: #0047AB;
	transition: 200ms;
}

a:hover {
	color: #0067f8;
	background-color: #e5ecf6;
	transition: 200ms;
}

h1 {
	font-size: 2em;
}

h2 {
	border-bottom: 1px solid black;
	font-size: 1.5em;
	margin-bottom: 30px;
}

.section {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	width: 100%;
}

.section ul {
	font-size: 1.25em;
	font-family: monospace;
}

.section li {
	margin-bottom: 5px;
}

#intro-img {
	border-radius: 25%;
	display: block-inline;
	max-width: 340px;
	width: 45%;
  margin-bottom: 4em;
}

#intro-text {
	display: block-inline;
	float: right;
	margin-left: 10px;
	margin-top: 5em;
	width: 45%;
  margin-bottom: 4em;
}

.review-img {
	width: 100%;
}


/*-----MEDIA QUERIES-----*/

/* Medium resolution */
@media screen and (max-width: 900px) {
	#container {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
		width: 80%;
	}

	#intro-img {
		display: block;
		float: none;
		margin-right: auto;
		margin-left: auto;
		margin-top: -5%;
		min-width: 0;
		width: 80%;
    margin-bottom: 1em;
	}

	#intro-text {
		display: block;
		width: 100%;
		margin-top: 1.5em;
	}
}

/* Small resolution */
@media screen and (max-width: 490px) {
	#intro-img {
		margin-top: -10%;
	}
}
