---
title: John Olmsted - CV
---

<div class="subsection">
  <h2>R&eacute;sum&eacute;</h2>

  <p><a href="https://github.com/qsymmachus/resume/blob/master/resume.md">Markdown version</a></p>

</div>

<div class="subsection">
  <h2>Skills</h2>
  <p>
    As a software engineer, I work primarily on the back end, but I have dabbled in web front end work. At the end of the day, 
    I'm more interested in the problem I'm solving than the tool I'm using to do it. Having said that, here's a representative list of the 
    tools I use:
  </p>

  <ul>
    <li><span class="pop">Used most recently:</span> Go, Scala/Finagle, Thrift & gRPC, Kubernetes/Helm, MySQL</li>
    <li><span class="pop">Used less recently:</span> JS/Node/React, Ruby/Rails, PHP, PostgreSQL, Scheme</li>
  </ul>

  <p>I try to follow these practices as much as possible:</p>

  <ul>
    <li>Functional programming is my preferred paradigm</li>
    <li>A preference for pure, referentially transparent functions</li>
    <li>Domain-driven design</li>
    <li>Agile development</li>
    <li>Simplicity for simplicity's sake</li>
    <li>My favorite code is code that doesn't have to be written</li>
  </ul>

  <p>
    The best way to get a sense of I'm currently learning about is to <a href="https://github.com/qsymmachus/notes">read through my notes</a>.
  </p>
</div>

<div class="subsection">
  <h2>Reviews from future leaders of America</h2>
  <img class="review-img" src="/images/review1.png">
  <img class="review-img" src="/images/review2.png">
  <img class="review-img" src="/images/review3.png">
</div>

<div class="subsection">
  <h2>What I do for fun</h2>
  <p>
    I read a lot of history, trashy French newspapers, and books about animals. Physically, I enjoy barbell training and backpacking.
  </p>
</div>

