---
title: John Olmsted - CV
---

<div class="subsection">
  <h2>R&eacute;sum&eacute;</h2>

  <p><a href="https://github.com/qsymmachus/resume/blob/master/resume.md">Markdown version</a></p>
  <p><a href="https://github.com/qsymmachus/resume/blob/master/resume.pdf">PDF version</a></p>

</div>

<div class="subsection">
  <h2>Reviews from future leaders of America</h2>
  <img class="review-img" src="/images/review1.png">
  <img class="review-img" src="/images/review2.png">
  <img class="review-img" src="/images/review3.png">
</div>

<div class="subsection">
  <h2>What I do for fun</h2>
  <p>
    I read a lot of history, trashy French newspapers, and books about animals. Physically, I enjoy barbell training and backpacking.
  </p>
</div>

