---
title: John Olmsted - CV
---

<div class="subsection">
  <h2>Experience</h2>

  <div class="job">
    <p><span class="pop">Senior Software Engineer, <a href="http://creditkarma.com/">Credit Karma</a>, March 2017 – present</span></p>
    <p>
      I'm currently a lead engineer on the growth team. We're transforming our monolithic email and push notification send system to an 
      ecosystem of high-performance microservices. It's an awesome challenge that balances fun stuff (like green-fielding completely
      new services) with knotty problems (like figuring out how to chunk behaviors out of the monolith while still keeping the lights on).
    </p>
  </div>

  <div class="job">
    <p><span class="pop">Software Engineer, <a href="http://creditkarma.com/">Credit Karma</a>, April 2015 – March 2017</span></p>
    <p>
      When I started at Credit Karma, was a lead back-end engineer for a key user-facing API that provides millions of our members with 
      advice on how to improve their credit. I also helped with a complete re-design of our internal member support tools. Our solution 
      greatly improved the happiness and productivity of our member support team, and served as a basis for all future admin tools.
    </p>
  </div>


  <div class="job">
    <p><span class="pop">Software Engineer, <a href="http://newavenuehomes.com/">New Avenue</a>, May 2014 - April 2015</span></p>
    <p>
      New Avenue is a startup that streamlines the construction of Accessory Dwelling Units (ADUs) to promote a more energy efficient form of growth. 
      I was responsible for the design and development of core features on New Avenue's online platform, such as project planning, coordination, 
      invoicing, and other interesting problems that require a complex yet loosely coupled architecture.
    </p>
  </div>

  <div class="job">
    <p><span class="pop">Boot (Student), <a href="http://devbootcamp.com/">Dev Bootcamp</a>, January 2014 - March 2014</span></p>
    <p>
      I completed a nine week intensive course in web development with particular focus on Ruby on Rails. Including preparatory material I gained 
      over 1000 hours of working experience in full stack development.
    </p>
  </div>
</div>

<div class="subsection">
  <h2>Skills</h2>
  <p>
    As a software engineer, I work primarily on the back end, but I know enough front end technologies to be dangerous. At the end of the day, 
    I'm more interested in the problem I'm solving than the tool I'm using to do it. Having said that, here's a representative list of the 
    tools I use:
  </p>

  <ul>
    <li><span class="pop">Used most recently:</span>: Scala/Finagle, JS/Node/React, Thrift, MySQL</li>
    <li><span class="pop">Used less recently:</span>: Ruby/Rails, PHP, PostgreSQL, Scheme</li>
  </ul>

  <p>I try to follow these practices as much as possible:</p>

  <ul>
    <li>Functional programming is my preferred paradigm</li>
    <li>Still dangerous with object-oriented design patterns</li>
    <li>Domain-driven design</li>
    <li>A preference for pure, referentially transparent functions</li>
    <li>Test-driven development</li>
    <li>Agile development</li>
    <li>I use version control for everything, even my personal notes</li>
    <li>Refactoring code is my favorite part of programming</li>
    <li>Simplicity for simplicity's sake</li>
    <li>My favorite code is code that doesn't have to be written</li>
  </ul>

  <p>
    The best way to get a sense of I'm currently learning about is to <a href="https://github.com/qsymmachus/notes">read through my notes</a>, 
    especially my <a href="https://github.com/qsymmachus/notes/blob/master/learning_log.txt">learning log</a>.
  </p>
</div>

<div class="subsection">
  <h2>Education</h2>
  <p>M.A. history, UC Berkeley 2013</p>
  <p>M.A. medieval studies, University of Toronto 2011
  <p>B.A. history, summa cum laude, Carleton College 2009
</div>

<div class="subsection">
  <h2>Reviews from future leaders of America</h2>
  <img class="review-img" src="/images/review1.png">
  <img class="review-img" src="/images/review2.png">
  <img class="review-img" src="/images/review3.png">
</div>

<div class="subsection">
  <h2>What I do for fun</h2>
  <p>
    I read a lot of history, the Latin classics, and books about animals. Physically, I enjoy barbell training and backpacking. My favorite 
    lyricists are GZA and Method Man. I practice Yang-style short form Tai chi.
  </p>
</div>

