---
title: John Olmsted - Contact
---

<div class="subsection">
 <h2>Email</h2>
 <p><a href="mailto:johnaolmsted@gmail.com">johnaolmsted@gmail.com</a><p>
</div>

<div class="subsection">
 <h2>The usual suspects</h2>
 <p><a href="https://github.com/qsymmachus">Github</a></p>
 <p><a href="http://www.linkedin.com/in/johnolmsted">LinkedIn</a></p>
 <p><a href="https://twitter.com/qsymmachus">Twitter</a></p>
</div>
