---
title: John Olmsted
---

<br><br>
<img id="intro-img" src="/images/me.png"/>
<div id="intro-text">
  <h1>Hi, my name's John!</h1>
  <p>I solve problems. </p>
  <p>I'm a software engineer based in San Francisco. Before that studied and taught medieval history.</p>
</div>
