---
title: John Olmsted
---

<br><br>
<img id="intro-img" src="/images/me.jpg"/>
<div id="intro-text">
  <h1>Hi, my name's John!</h1>
  <p>I solve problems. </p>
  <p>I'm a software engineer based in San Francisco. Before that I studied at Carleton College and earned a couple of master's degrees in medieval history. I taught college students for a while, too.</p>
</div>
